<!doctype html>

<html lang="{{ .Site.Language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">

</head>

<body>
  {{ .Content }}
</body>

</html>
